.main-wrap {
    img {
        width: 100%;
    }
    .section {
        position: relative;
        overflow: hidden;
        .inner {
            text-align: center;
            img {
                max-width: 100%;
                width: auto;
            }
        }
    }
    .section .layout {
        opacity: 0;
        transform: translate3d(0, -200px, 0);
        transition: all 2s ease;
    }
    .section.active .layout {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    #section1 {
        .scroll-down {
            @include Position($bottom: 20px, $left: 50%);
            animation: slide-top 0.5s linear infinite alternate both;
        }
    }

    #section2 {
        .inner {
            //@include Flex-config($justify: center, $align: center);
        }
    }

    #section3 {
        @include Background($sprite: 'section3-bg', $type: 'jpg', $position: center center, $size: cover, $path: 'bg');
        .inner {
        }
    }
    #section4 {
        @include Background($sprite: 'section4-bg', $type: 'jpg', $position: center center, $size: cover, $path: 'bg');
        .inner {
        }
    }
    #section5 {
        background-color: #f4f7fa;
        .inner {
            &.layout {
                opacity: 1;
            }
        }
    }

    #footer_section {
        .inner {
        }
    }
}
